# ENV files
.env
backend/.env
frontend/.env

# Node / Deno
node_modules/
frontend/node_modules/
backend/node_modules/
deno.lock

# Build output
dist/
build/
.vite/
frontend/dist/

# Logs
*.log

# Editor junk
.vscode/
.idea/
.DS_Store
